<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Event: {{ event.title }}</title>
<meta name="viewport" content="width=device-width" />
<!--[if lt IE 9]><script src="http://www.sturm.com.au/shared/ie-html5-1.0.js"></script><![endif]-->
<style>
#page-summary { margin-bottom: 0.5em; }

img {
  float: left;
  margin: 0.5em 1em 0.5em 0;
}

h3 { font-weight: bold; }

header h2 a { color: #456725; text-decoration: none; }
</style>
</head>

<body>
<header>

<h1 id="site-title">{{ event.title }}</h1>

<h2>{{ event.subtitle }}</h2>
<div id="page-summary">
<p>{{ event.time|date:"j N, Y, P" }}</p>
</div>
</header>

<p><em>{{ event.location|safe }}</em></p>

{{ event.description|safe }}

<h3>Register for this event</h3>
{% if event.has_passed %}
<p><em>This event has passed.</em></p>
{% else %}
<p><em>We'll confirm your registration by email.</em></p>

<form method="post" action="" style="margin-top: 1em">
{% csrf_token %}
<fieldset>
{{ form.as_p }}
</fieldset>
<p><button type="submit">Register</button></p>
</form>
{% endif %}

<h3>Privacy</h3>
<p>Your registration details are used solely to contact you about this event. They will not be shared. If you check the box above, we will contact you about upcoming events.</p>
</body>
</html>
